* {
    margin: 0;
    padding: 0;
}
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.Intro {
    background-image: url(Forgotten\ Manor.webp);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.one {
    padding: 20px;
}
.scene1 {
    background-image: url(The\ entry\ way.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.two {
    padding: 20px;
}
.scene2 {
    background-image: url(The\ library.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.three {
    padding: 20px;
}
.scene3 {
    background-image: url(The\ hidden\ room.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.four {
    padding: 20px;
}
.conclusion {
    background-image: url(question.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.five {
    padding: 20px;
}